{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">₹{{ product.price }}</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Buy Again">
        </form>
        {{ product.description|linebreaks }}
        <a href="{% url "shop:service_render" product.product_id %}" type="submit" class="btn btn-success">
            Support Service
        </a>
        <a href="{% url "shop:support_page" %}" type="submit" class="btn btn-success">
            Support Products
        </a>

    </div>
{% endblock %}