{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Feedback Form
{% endblock %}

{% block content %}
    {% if not feedback_submitted %}
    <h1>Feedback Form
        <form id="product_form" method="post">
            <table class="striped centered">
                {% csrf_token %} {{ feedback_form }}
            </table>
            <button class="btn btn-success" type="submit" name="action">
                Submit Feedback
            </button>
        </form>
    </h1>
    {% else %}
        <h1>Feedback Submitted :)</h1>
        <p>We always work towards getting you a better customer experience</p>
    {% endif %}
{% endblock %}