{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Support Products
{% endblock %}

{% block content %}
    {% if supports.count == 0 %}
        <h1>No Service Available</h1>
    {% endif %}
    <div class="row">
        {% for support in supports %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ support }}</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <a href="{% url 'shop:service_purchased' %}">Buy</a>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        <br>
    </div>
{% endblock %}